.Header {
    width: 100%;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;

    &-row {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    &-logo {
        width: 235px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 100%;
            height: 100%;
        }
    }

    &-bottom {
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 40px;
    }

    &-links {
        width: 740px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 22px;
        margin-top: 60px;
    }

    &-link {
        font-family: $font-family;
        font-weight: 400;
        font-size: 14px;
        line-height: 196%;
        text-align: center;
        color: $black-color;
        cursor: pointer;
        border-radius: 80px;
        width: 130px;
        height: 30px;
        border: 1px solid $black-color;
        @include trn();

        &.active {
            background: $btn;
            border-color: transparent;

            &:hover {
                background: transparent;
            }
        }

        &:hover {
            border-color: $main-color;
            color: $main-color;
        }
    }

    &-socials {
        width: 86px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 10px;
        position: absolute;
        right: 7%;
        top: 15%;
    }

    &-social {
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}