// Fonts

$font-family: "Inter", sans-serif;
$second-family: 'Roboto', sans-serif;

// Colors

$black-color: #000;
$white-color: #fff;
$btn: #cae9f5;
$main-color: #43C1F0;
$title-color :#242323;
$subtitle-color: #727272;

// Sizes

$container-width: 1400px;
$container-padding: 20px;